.footer_container{
    background: #000;
    width: 100%;
    padding: 5rem 5%;
    margin-top: 5rem;
    
}

.footer_upper{
    display: flex;
    justify-content: space-between;
    padding-bottom: 5rem;
    border-bottom: 1px solid rgb(164, 164, 164);

    .address_1{
        color: #fff;
        
        h2{
            margin-bottom: 1rem;
        }

        p{
            margin-bottom: 1rem;
        }

        h4{
            color: #A4720D;
        }
    }

    .address_2{
        color: #fff;
        
        h2{
            margin-bottom: 1rem;
        }

        p{
            margin-bottom: 1rem;
        }

        h4{
            color: #A4720D;
        }
    }

    @media (max-width:768px) {
        flex-direction: column;

        .address_1{
            margin-top: 3rem;
        }

        .address_2{
            margin-top: 3rem;
        }
    }
}

.footer_bottom{
    margin-top: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    
    .footer_social{
        img:nth-child(1){
            margin-right: 2rem;
        }
    }

    p{
        color: #fff;
        margin-top: 1rem;
    }
}